.orghome-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.org-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 0 20px;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
 .org-main{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 5rem;
    box-sizing: border-box;
    padding: 2rem;
    justify-content: space-around;
 }
 .org-collaborators{
    width: 250px;
    /* background-color:#0C2D48; */
    height: 75%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

 .org-collaborators .invite-link{
    background-color: #0C2D48;
    box-sizing: border-box;
    padding: 0.75rem;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .invite-link svg:hover{
    transform: translate(1%,-1%);
    color: rgb(207, 207, 207);
    cursor: pointer;
 }

 .org-collaborators ul{
    background-color:#0C2D48;
    height: 45%;
    border-radius: 7px;
    list-style: none;
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
 }

 .org-collaborators li{
    box-sizing: border-box;
    padding: 0.5rem;
    padding-left: 1rem;
 }

 .org-collaborators li:hover{
    backdrop-filter: brightness(1.3);
 }

 .org-collaborators h3{
    font-weight: 600;
    background-color: #01121a;
    box-sizing: border-box;
    padding: 0.7rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
 }

 .org-tools ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
 }

 .org-tools li{
    width: 225px;
    height: 225px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    align-content: center;
 }


 .kanban-option{
    background-image: linear-gradient(to bottom left, #2c3590, #222c7f, #18246e, #0e1c5e, #04144e);
 }

 .kanban-option:hover{
    background-image: linear-gradient(to bottom left,  #222c7f, #18246e, #0e1c5e, #04144e);
    border: 1px solid #2c3590;
 }

 .todo-option{
    background-image: linear-gradient(to top right, #59064e, #701366, #872080, #9f2e9b, #b63cb7);
 }

 .todo-option:hover{
    background-image: linear-gradient(to top right, #59064e, #701366, #872080, #9f2e9b);
    border: 1px solid #b63cb7;
 }

.whiteboard-option{
    background-image: linear-gradient(to top right, #093a3f, #075358, #056e70, #068988, #11a69f);
}

.whiteboard-option:hover{
    background-image: linear-gradient(to top right, #093a3f, #075358, #056e70, #068988);
    border: 1px solid #11a69f;
}

.org-overview{
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
}

.org-projects-section{
    height: 65%;
    color: white;
}

.org-projects-section hr{
    opacity: 0.75;
    margin-top: 0.7rem;
}

.org-projects-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.org-projects-section li{
    background-image: linear-gradient(to right top, #06263b, #072e47, #093752, #0a405f, #0a496b);
    padding: 0.9rem;
    border-radius: 7px;
}

.org-projects-section li:hover{
    filter: brightness(1.25);
    transform: translate(0.1%,0.1%);
}

.priority-section{
    background-color:#0C2D48;
    width: 300px;
    border-radius: 7px;
    height: 65%;
}

.priority-section h3{
    background-color: #01121a;
    box-sizing: border-box;
    padding: 0.7rem;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.priority-section ul{
    list-style:inside;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
}

.priority-section li{
    background-color: #0C2D48;
    padding: 0.5rem;
    border-radius: 3px;
    color: white;
}

.org-collaborators h3 svg:hover{
    transform: translate(2%,-2%);
    cursor: pointer;
    color: rgb(207, 207, 207);
}