.sidebar {
  border-top: 20px solid black;
  background-image: linear-gradient(to right bottom, #051937, #00235f, #142a86, #4229ab, #7416ca);
  width: 270px;
  border: none;
  /* border-top-right-radius: 5px; */
  border-bottom-right-radius: 5px;
  height: 100vh;
  transition: transform 0.3s ease;
  /* padding: 0.7rem; */

}

/* .sidebar.closed {
  transform: translateX(-100%);
} */

.sidebar h3 {
  font-size: medium;
  background-color: gray;
}

.sidebar ul {
  list-style: none;
  font-size: medium;
  font-weight: 500;
}

.overview-options{
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  gap:0.3rem;
}

.sidebar li {
  padding-left: 0.5rem;
  height: 3rem;
  /* border-bottom: 2px solid black;
  border-bottom-style: groove; */
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-right: 0.5rem;
  color: #E0E0E0;
  opacity: 1;
}

.sidebar li:hover {
  /* font-family: "Virgil", sans-serif; */
  backdrop-filter: brightness(1.5);
  border-radius: 5px;
  cursor: pointer;
  transform: translate(0.25%, 0.25%);
  /* box-shadow: 2px 2px 7px rgb(148, 173, 239); */
}

.sidebar li svg{
  color: #E0E0E0;
}


.closing-bar {
  /* background-color: grey; */
  background-color: rgb(5, 59, 131);
  height: 1.5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.25rem;
  align-items: center;
}

.closing-bar svg {
  color: #ffffff;
}

.closing-bar svg:hover {
  color: #dedede;
  transform: translate(5%, 4%);
}


.profile-section {
  background-color:  #24244d;
  display: flex;
  height: 2.75rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  /* backdrop-filter: saturate(0.45); */
  color: #E0E0E0;
  padding: 0.7rem;
  border-bottom: 2px solid #5f24d3;
  border-top: 2px solid #7416ca;
}

.profile-section>svg {
  color: #7080A0;
  width: 28px;
  height: 28px;
}

.notifications {
  display: flex;
}

.notifications>svg {
  color: #7080A0;
  width: 20px;
  height: 20px;
}

.notifications>svg:hover {
  color: #dedede;
  transform: translate(5%, 4%);
}

.profile-section>svg:hover {
  color: #dedede;
  transform: translate(5%, 4%);
}

.sidebar-username {
  padding-left: 0.5vw;
  color: white;
}

.sidebar-options .projects-section,.organizations-section {
  backdrop-filter: brightness(1.3);
  padding: 0%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0px;
}

.projects-section .add-project svg:hover{
  color: #dedede;
  transform: translate(1.5%, 0.75%);
}

.organizations-section .add-organization svg:hover{
  color: #dedede;
  transform: translate(1.5%, 0.75%);
}

.sidebar-options .projects-section:hover {
  transform: translate(0px, 0px);
}

.sidebar-options .organizations-section:hover {
  transform: translate(0px, 0px);
}

.organization-list{
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.sidebar-options .organizations-section{
  display: flex;
  justify-content: space-between;
}

/* Background overlay with blur effect */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* Background blur */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal content box */
.modal-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  position: relative;
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Close button */
.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Form group */
.form-group {
  margin-bottom: 15px;
}

/* Input field */
.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

/* Modal footer with buttons */
.modal-footer {
  display: flex;
  justify-content: flex-end;
}

/* Cancel button */
.cancel-button {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

/* Submit button */
.submit-button {
  background-color: rgba(73, 76, 212, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.selected-organization{
  background-image: linear-gradient(to left bottom, #55009463, #6500b6a3, #6c09c3d0);  padding: 0%;
  border: 1px solid rgb(136, 63, 237);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
}

.selected-project{
  background-image: linear-gradient(to left bottom, #55009463, #6500b6a3, #6c09c3d0);  padding: 0%;
  border: 1px solid rgb(136, 63, 237);
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 80%;
    /* transform: translateX(-100%); */
  }
}