.sidebar {
  background-color: rgb(9, 9, 140);
  width: 20%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100vh;
  box-shadow: 1px 1px 5px gray;
  transition: transform 0.3s ease;
}

/* .sidebar.closed {
  transform: translateX(-100%);
} */

.sidebar h3 {
  font-size: medium;
  background-color: gray;
}
.sidebar ul {
  list-style: none;
  font-size: medium;
  font-weight: 500;
}
.sidebar li {
  padding-left: 0.5rem;
  height: 3rem;
  border-bottom: 2px solid black;
  border-bottom-style: groove;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
  color: white;
  opacity: 1;
}

.sidebar li:hover {
  /* font-family: "Virgil", sans-serif; */
  background-color: rgb(58, 39, 233);
}

.closing-bar {
  /* background-color: grey; */
  background-color: rgb(5, 59, 131);
  height: 1.5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.25rem;
  align-items: center;
}

.closing-bar svg {
  color: #ffffff;
}

.closing-bar svg:hover {
  color: #dedede;
  transform: translate(5%, 4%);
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 80%;
    /* transform: translateX(-100%); */
  }
}
