.kanban-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color:#141f29;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
    position: absolute;
}

.kanban-header-container{
    width: 100%;
    position: relative;
}

.kanban-container .kanban-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 0 20px;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    /* position: absolute; */
}

.kanban-board {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 2rem;
    height: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* overflow-x: scroll; */
}

.kanban-board .kanban-sections {
    display: flex;
    list-style: none;
    gap: 1rem;
    /* width: 100%; */
    height: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    position: absolute;
}

.kanban-board li {
    width: 300px;
    border-radius: 7px 7px 7px 7px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.kanban-card {
    /* height: 37rem; */
    gap: 0.5rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #0C2D48;
    border-radius: 0px 0px 7px 7px;
    padding: 0.5rem;
}

.kanban-card .todo{
    width: 100%;
    background-color: #01121a;
    color: white;
    box-sizing: border-box;
    padding: 0.8rem;
    cursor: move;
}

.todo:hover{
    border: 1px solid #f5f5f5;
    cursor:move;
}

.individual-section {
    /* background-color: #8db9ce; */
    width: 274px;
}

.individual-section h3{
    color: white;
    background-color:#0C2D48;
    font-size: medium;
    padding: 0.5rem 0rem 0.3rem 0.7rem;
    border-radius: 7px 7px 0px 0px;
}

.section-addition{
    background-color: #0C2D48;
    width: 20%;
    height: 3rem;
    color: white;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.section-addition:hover{
    border: 2px solid #f5f5f5;
    transform: translate(-0.5%,0.5%);
}

.kanban-card h3{
    color: white;
}

.add-task{
    text-align: center;
    color: white;
    padding: 0.5rem;

}

.add-task:hover{
    /* border: 1px solid #f5f5f5; */
    transform: translate(-0.5%,0.5%);
    background-color: #0c4b68;
    border-radius: 5px;
}

.kanban-board-container{
    padding: 1rem;
    /* position: absolute; */
    overflow-x: auto;
}