html{
    overflow: hidden;
}


.sidebar-opener{
    /* width: 1%; */
    /* height: 100%; */
    position: relative;
    background-color: #010a0f;
}

.sidebar-opener svg{
    height: 100%;
    width: 1rem;
    position: relative;
    color: rgb(255, 255, 255);
}

.sidebar-opener svg:hover{
    color: rgb(217, 224, 230);
    transform: translateX(5%);
}

.page-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}