*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
.header{
    background-color: rgb(2, 0, 72);
    color: azure;
    height: 2.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header h2{
    font-weight: 700;
}
.nav-components ul{
    list-style: none;
    display: flex;
    gap: 4vh;
    font-size: medium;
    cursor: pointer;
}

.nav-components li:hover{
    /* font-family: 'Virgil', sans-serif; */
    color: rgb(86, 88, 211);
}
